{block title}View{/block}
{block name}HOME{/block}
{block content}
    <section class="viewStuff">
        <div><h3>USERS</h3>
            {$tableUser}
        </div>
        <div><h3>GROUPS</h3>
            {$tableGroup}
        </div>  
    </section>
{/block}
{block footer}
<footer>
    Vytvořil Jakub Kurka
</footer>
{/block}