{block title}Groups{/block}
{block name}GROUPS{/block}
{block content}
<section class="viewStuff">
    <section class="groupControls">
        <div><h3>CREATE GROUP</h3>
            {control groupForm}
        </div>
        <div><h3>DELETE GROUPS</h3>
            {control groupDelForm}
        </div>
    </section>
        <div><h3>GROUPS</h3>
            {$tableGroup}
        </div>
</section>
{/block}
{block footer}
<footer>
    Vytvořil Jakub Kurka
</footer>
{/block}