{block title}Sign in{/block}
{block content}

<div class="signInBox">
{control signInForm}

<a class="btn-grad" n:href="Register:register">register</a>
</div>
<footer>
Vytvořil Jakub Kurka
</footer>
{/block}