<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}restaurace</title>
	<link rel="stylesheet" href="{$basePath}/css/SignInStyle.css">
	<link rel="stylesheet" href="{$basePath}/css/formStyle.css">
</head>

<body>
	<header>
		<img src="{$basePath}/img/jkLogo.png" alt="peroule" width="80" height="60">
	</header>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
