<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}restaurace</title>
	<link rel="stylesheet" href="{$basePath}/css/style.css">
</head>

<body>
	<header class="upmenu">
    	<ul>
        	<li><a n:href="Viewer:default"><img src="{$basePath}/img/jkLogo.png" alt="peroule" width="80" height="60"></a></li>
        	<li>{include name}</li>
    	</ul>
	</header>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<section class="viewer">
	<nav class="menu">
    	<ul>
        	<li><a class="btn-grad" n:href="Viewer:default">home</a></li>
    	    <li><a class="btn-grad" n:href="Order:default">Create order</a></li>
        	<li><a class="btn-grad" n:href="Table:default">Add table</a></li>
	        <li><a class="btn-grad" n:href="Viewer:default">Add foods</a></li>
    	    <li><a class="btn-grad" n:href="Viewer:groups">Manage groups</a></li>
	        <li><a class="btn-grad" n:href="Viewer:default">change prices</a></li>
    	    <li><a class="btn-grad" n:href="Viewer:default">Settings</a></li>
        	<li><a class="btn-grad" n:href="signOut">Logout</a></li>
    	</ul>
	</nav>
	{include content}
	</section>
	{include footer}
	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
