@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@300;400&display=swap');
body{
   font-family: 'Bebas Neue', sans-serif;
   font-family: 'Roboto Mono', monospace;
   margin: 0%;
   padding: 0%;
   background-color: rgba(232, 236, 241, 1.0);
   height: 100%;
   width: 100%;
   min-height: 100vh;
   position: relative;
}
li{
    margin: 0%;
    padding: 0%;
}
ul{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}

footer{
   margin: 0%;
   padding: 0%;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.295);
   position: absolute;
   bottom: 0%;
   width: 100%;
   left: 0%;
}
.btn-grad {
    background-color: rgba(149, 165, 166, 1.0);
    font-family: 'Roboto Mono', monospace;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #3d3d3d5b;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    color: black;
    text-decoration: none;
    transform:scale(1.05,1.05);
  }
 .menu {
   position: fixed;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 15em;
    height: 80%;
 }
 .upmenu {
    display: flex;
    margin: 0%;
    padding: 0%;
 }
 .upmenu li a{
   padding-right: 10em;
 }
 .upmenu li{
   display: inline;
   margin: auto;
   font-size: large;
   font-weight: bold;
 }
 .signInBox {
    width: 40em;
    /*border: solid black;*/
    margin: 20% 25%;
    padding: 0%;
   
 }
 .signInBox form{
    margin: 0% auto;
    padding: 0%;
 }
.signInBox a{
    padding: 1px 0px 6px 0px;;
    width: 25%;
    height: 1em;
    margin-left: 33%;
    margin-top: 1em;    
}
 .signInBox form table{
    margin:auto;
    width: 100%;
 }

 .signInBox form table th{
    margin: 0%;
    padding: 0%;
    width: 30%;
 }
 
 .signInBox input {
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.295);
    border: none;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #3d3d3d5b;
 }

 .signInBox .button {
   background-image: linear-gradient(to right, #f77584 0%, #72e7e1  51%, #ff6e7f  100%);
   font-family: 'Roboto Mono', monospace;
   font-size:large;
   border: none;
   color: white;
   padding: 8px 16px;
   background-size: 200% auto;
   transition: 0.5s;
   text-decoration: none;
   text-transform: uppercase;
   text-align: center;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 10px;
   box-shadow: 0 0 10px #3d3d3d5b;
}
.signInBox .button:hover {
   background-position: right center; /* change the direction of the change here */
   color: black;
   text-decoration: none;
   cursor: pointer;
}

.viewer {
    display: flex;
    flex-grow: 5;
    flex-basis: 90%;
}
.viewNadpis{
    margin: 0%;
    padding: 0%;
    font-weight: bold ;
    font-size:large;
    background-color: rgba(255, 255, 255, 0.295);
}
 .viewStuff {
    display: inline-block;
    width: 83%;
    height: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
 }
.viewNadpis th {
    border-bottom: 1px solid black;
}

.viewStuff table {
   background-color: rgba(255, 255, 255, 0.295);
   box-shadow: 0 0 10px #6d6c6c5b;
   padding-bottom: 1em;
   width: 100%;
   height: 100%;
   border-radius: 5px;
}
.groupControls {
   display: flex;
   flex-direction: row;
   align-content: flex-end;
   justify-content: center;
}
.groupControls div {
   flex-grow: 1;
}
.groupControls h3 {
   text-align: center;
   margin-bottom: 0%;
}
.groupControls td {
   margin-top: 4px;
   margin-bottom: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.groupControls input[type=text] {
   width: 80%;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.295);
    border: none;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #3d3d3d49;
}
.groupControls input[type=submit] {
   justify-content: center;
   background-color: rgba(149, 165, 166, 1.0);
   font-family: 'Roboto Mono', monospace;
   border: none;
   color: white;
   padding: 8px 16px;
   background-size: 200% auto;
   transition: 0.5s;
   text-decoration: none;
   text-transform: uppercase;
   text-align: center;
   margin: 2px 1px;
   cursor: pointer;
   border-radius: 10px;
   box-shadow: 0 0 10px #3d3d3d5b;
   width: 60%;
}

.groupControls input[type=submit]:hover {
   color: black;
   text-decoration: none;
   cursor: pointer;
   transform:scale(1.05,1.05);
}

.groupControls select{
   font-family: 'Roboto Mono', monospace;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.295);
   border: none;
   color: black;
   border-radius: 5px;
   box-shadow: 0 0 5px #3d3d3d49;
   width: 90%;
}

.foodsContainer {
   margin-top: 10px;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   row-gap: 5px;
   column-gap: 5px;
}
.foodsFlexItem {
   padding: 10px;
   margin: 10px;
   background-color: rgba(255, 255, 255, .295);
   box-shadow: 0 0 5px #3d3d3d49;
   border-radius: 10px;
   transition: .3s;
}
.foodsFlexItem-reactive {
   padding: 10px;
   margin: 10px;
   background-color: rgba(255, 255, 255, .295);
   box-shadow: 0 0 5px #3d3d3d49;
   border-radius: 10px;
   transition: .3s;

}
.foodsFlexItem-reactive:hover{
   cursor: pointer;
   transform:scale(1.05, 1.05);
}
.foodsFlexItem p {
   font-size: 14px;
}
.foodsFlexItem h1 {
   margin: 0%;
   padding: 0%;
}
.foodImage {
   width: 180px;
   height: 150px;
   border-radius: 5px;
}

.orders {
   width: 60%;
}


i{
   cursor: pointer;
   transition:all .3s;
}
i:hover{
   transform: scale(1.05, 1.05);
   color: white;
}

.orders i:hover{
   color: darkred;
}

.ButtonChangeOrder {
   cursor: pointer;
   font-family: 'Roboto Mono', monospace;
   background-color: rgba(149, 165, 166, 1);
   border: none;
   color: black;
   padding: 3px;
   margin-bottom: 2px;
   margin-right: 5px;
   width: 100%;
   border-radius: 3px;
   transition:all .3s;
   box-shadow: 0 0 5px #3d3d3d49;
}

.ButtonChangeOrder:hover {
   transform: scale(1.05, 1.05);
   color: white;
}

.addFoodIcon i{
   background-color: rgba(149, 165, 166, 1.0);
   border-radius: 5px;
   padding: 15px;
   color: white;
}

.addFoodIcon i:hover{
   color: black;
}

.foodsFlexItem a{
   float: right;
   text-decoration: none;
   color: black;
   transition:all .3s;
}
.foodsFlexItem a:hover{
   color: darkred;
   transform: scale(1.05, 1.05);
}
.logout-icon{
      position: fixed;
      top: 15px;
      right: 20px;
}
.logout-icon a{
   text-decoration: none;
   color: black;
   transition:all .3s;
   font-size: 48px;
}

.logout-icon a:hover{
   transform: scale(1.05, 1.05);
   color: darkred;
}
